.main-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    border: 2px solid grey;
    width: 840px;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:700px){
    .container__left_column__products_cards_container{
        max-width:250px;
        justify-content: center;
    }
    .container__left_column{
        max-width: 200px;
    }
}

.container__left_column {
    border: 2px solid red;
    width: 400px;
    height: auto;
}

.container__left_column__products_cards_container {
    display: flex;
    flex-wrap: wrap;
}

.container__right_column {
    border: 2px solid black;
    width: 300px;
    height: auto;
    align-items: flex-end;
}

img {
    width: 200px;
    height: auto;
}